header{
    display: flex;
    justify-items: flex;
    align-items: center; 
    background: pink;
}

.image{
    height: 100px;
    width: auto;
}

*{
    list-style-type: none;
 }

.menu-item{
    display: flex;

}

.menu-item li{
    padding: 20px;
}
.menu-item  li a{
    padding: 20px;
    color:red; 
    text-decoration: none;
}

.custom{
    padding: 10px;
    border-radius: 12px;
    width: fit-content;
    align-items: center;
 }
 .item-1{
    background: blue;
    display: block;
    width: 100%;
 }
