*{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
 }



 .image-box{
    height: 100px;
    width: auto;
           }


 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 38px;
    padding-bottom: 38px;
    background: pink;
   }

 .lien{
    display: flex;
    gap: 20px;
    font-size: 200%;


       }
 .text{
    margin-bottom: 50px;
    text-decoration: underline;
    font-size: 200%;

       }
.formulair{
    /* background: blue; */
    border-radius: 10px;
    padding:30px
}
.separation{
    width: 100px;
    height: 1px;
    background-color: brown;
}